.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Navbar-offCanvas {
  background-color: #000000d6;
  color: white;
  text-align: center;
}
.Navbar-offCanvas .offcanvas-header .offcanvas-header .btn-close {
  color: white;
  background-color: white;
}
/* .Navbar-offCanvas .offcanvas-body {
} */
.Navbar-offCanvas .offcanvas-body .Contact-btn {
  border-radius: 25px;
  background-color: #7672e6;
  border-style: none;
  color: white;
  width: 120px;
  height: 40px;
}
.onSchool-Header .Nav-height {
  height: 100px;
}
.onSchool-Header .Navbar-offCanvas-btn {
  background-color: white;
  border-radius: 5px;
  border-style: none;
  display: none;
}

.onSchool-Header .Navbar-offCanvas-btn:hover {
  border: 5px solid white;
}
.onSchool-Header .Contact-btn {
  border-radius: 25px;
  background-color: #7672e6;
  border-style: none;
  color: white;
  width: 120px;
  height: 40px;
}
.onSchool-Header .Contact-btn:hover {
  background-color: white;
  color: #7672e6;
  border: 2px solid #7672e6;
}
.OnSchool-Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 884px;
  margin-top: -100px;
}
.OnSchool-Home.Home-bg .Home-Content {
  color: white;
  display: flex;
  height: 100%;
  text-align: initial;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.OnSchool-Home.Home-bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./assets/hero-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.color-Purple {
  color: #7672e6;
}
.color-BgPurple {
  background-color: #7672e6;
}
.OnSchool-Home .Home-admission {
  color: white;
  background-color: #7672e6;
  border-style: none;
  border-radius: 25px;
  height: 50px;
  width: 200px;
}
.OnSchool-Home .Home-admission:hover {
  background-color: white;
  color: #7672e6;
  border: 2px solid #7672e6;
}
.OnSchool-Home .Home-SignUp-Form form {
  background-color: white;
  border-radius: 5px;
  width: 35vw;
  padding: 5vw;
  text-align: start;
}
.OnSchool-Home .Home-SignUp-Form .input-Focus:focus {
  border-color: #7672e6;
  box-shadow: 0 0 0 0.25rem rgb(118 114 230/ 25%);
}
.OnSchool-Home .Home-SignUp-Form .btn {
  color: white;
  background-color: #7672e6;
  border-style: none;
  border-radius: 25px;
  height: 50px;
  width: 100px;
}
.OnSchool-Home .Home-SignUp-Form .btn:hover {
  background-color: white;
  color: #7672e6;
  border: 2px solid #7672e6;
}
.onSchool-Courses {
  position: relative;
  min-height: 884px;
}
.onSchool-Courses .Heading {
  height: 350px;
  padding-top: 50px;
  background-color: #7672e6;
  color: white;
  font-size: xx-large;
  font-weight: bolder;
}
.onSchool-Courses .Courses-slider {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.onSchool-Courses .Courses-slider .swiper {
  width: 65%;
  height: 700px;
}
.onSchool-Courses .Courses-slider .swiper .swiper-slide .card {
  border: none;
}
.onSchool-Courses
  .Courses-slider
  .swiper
  .swiper-slide
  .card
  .Card-Footer
  .Card-Footer-content {
  display: flex;
  align-items: center;
  height: 50px;
}
.onSchool-Courses
  .Courses-slider
  .swiper
  .swiper-slide
  .card
  .Card-Footer
  .Card-Footer-content.content-l {
  justify-content: flex-start;
  border-bottom: 2px groove lightgray;
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
}
.onSchool-Courses
  .Courses-slider
  .swiper
  .swiper-slide
  .card
  .Card-Footer
  .Card-Footer-content.content-r {
  justify-content: center;
  border-bottom: 2px groove lightgray;
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.onSchool-Courses .Courses-slider .swiper .swiper-button-prev {
  height: 50px;

  border-radius: 5px;
  color: #7672e6;
  width: fit-content;
  padding: 20px;
  left: 35%;
  top: 90%;
}
.onSchool-Courses .Courses-slider .swiper .swiper-button-next {
  height: 50px;

  border-radius: 5px;
  color: #7672e6;
  width: fit-content;
  padding: 20px;
  right: 35%;
  top: 90%;
}
.onSchool-Courses .Courses-slider .swiper .courses-card-body {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  text-align: start;
  position: relative;
}
.onSchool-Courses .Courses-slider .swiper .image-size {
  object-fit: cover;
  height: 200px;
}
.onSchool-Courses
  .Courses-slider
  .swiper
  .courses-card-body
  .cousrses-card-discount {
  background-color: #7672e6;
  border-radius: 10px 0px 0px 10px;
  padding: 20px;
  color: white;
  width: fit-content;
  right: 0;
  position: absolute;
  top: -25px;
  font-size: large;
}
/* .onSchool-Courses .Courses-slider .swiper .swiper-button-next:after {
  font-family: ;
  font-size: xx-large;
}
.onSchool-Courses .Courses-slider .swiper .swiper-button-prev:after {
  font-family: initial;
  font-size: xx-large;
} */
/* .Card-Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
.onSchool-Programs .max-width {
  max-width: 50%;
  margin: 0 auto;
}
.onSchool-Programs .Top-Section .Heading {
  height: 100px;
  padding: 25px;
}
.onSchool-Programs .Middle-Section .Programs-CardContent-Top-alignment {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.onSchool-Programs .Middle-Section .Programs-Card-Img {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100%;
}
.onSchool-Programs
  .Programs-CardContent-Bottom-Section
  .Programs-CardContent-Bottom {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.onSchool-Programs .icon-roundend {
  border: none;
  border-radius: 30px;
  display: inline-flex;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
}
.onSchool-Teachers .Top-Section {
  margin-bottom: 100px;
}
.onSchool-Teachers .Top-Section .Teachers-Top-Content .heading {
  height: 100px;
  padding: 25px;
}
.onSchool-Teachers .img-hack {
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: -80px;
  height: 160px;
  width: 160px;
  object-fit: cover;
}
.onSchool-Teachers .card-padding {
  padding-top: 80px;
}
.onSchool-Teachers .Teachers-bg-img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./assets/hero-1.jpg');
  background-size: auto;
  background-repeat: round;
  background-position: center;
  background-position-y: bottom;
  width: 100%;
  height: auto;
}
.onSchool-Teachers .max-width {
  max-width: 50%;
  margin: 0 auto;
}
.onSchool-Message {
  background-color: #f8f9fa;
}
.onSchool-Message .max-width {
  width: 50%;
  margin: auto;
}
.text-center {
  text-align: start;
}
.onSchool-Message .Message-Content {
  text-align: start;
}
.onSchool-Message .Message-Form .input-Focus:focus {
  border-color: #7672e6;
  box-shadow: 0 0 0 0.25rem rgb(118 114 230/ 25%);
}
.onSchool-Message .Message-Form .btn {
  color: white;
  background-color: #7672e6;
  border-style: none;
  border-radius: 25px;
  height: 50px;
  width: 50%;
}
.onSchool-Message .Message-Form .btn:hover {
  background-color: white;
  border: 2px solid #7672e6;
  color: #7672e6;
}
.onSchool-WhyUs {
  overflow: hidden;
}
.onSchool-WhyUs .Top-Section .heading {
  height: 200px;
  padding: 75px;
}
.onSchool-WhyUs .Middle-Section .Card {
  border-style: none;
  width: 50%;
  left: 60%;
  transform: translateX(-40%);
}
.onSchool-WhyUs .alignment {
  display: flex;
  justify-content: center;
  align-items: center;
}
.onSchool-WhyUs .text-align {
  text-align: start;
}
.onSchool-WhyUs .blog1-side-img {
  position: absolute;
  top: -40px;
  right: -100px;
  z-index: -1;
}
.onSchool-WhyUs .blog2-side-img {
  position: absolute;
  bottom: -45px;
  left: -150px;
  z-index: -1;
}
.onSchool-WhyUs .icon-roundend {
  border: none;
  border-radius: 30px;
  display: flex;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
}
.onSchool-WhyUs .mw-40 {
  max-width: 35%;
}
.onSchool-Footer .color-BgPurple {
  background-color: #7672e6;
}
.onSchool-Footer .max-width {
  max-width: 50%;
  margin: 0 auto;
}
.Footer-Center-Content .Footer-list {
  cursor: pointer;
}
.onSchool-Footer .Footer-Rigt-Content .Footer-Subscribe-Input {
  display: flex;
}
.onSchool-Footer .Footer-Rigt-Content .Footer-Subscribe-Input > input {
  border: 1px solid lightgray;
  height: 50px;
  border-radius: 25px 0px 0px 25px;
  padding: 25px;
}
.onSchool-Footer
  .Footer-Rigt-Content
  .Footer-Subscribe-Input
  .subscribe-button {
  width: 40%;
  border-radius: 0px 25px 25px 0px;
  color: white;
  border: 1px solid #7672e6;
}
.onSchool-Footer
  .Footer-Rigt-Content
  .Footer-Subscribe-Input
  .input-Focus:hover {
  border: 2px solid #7672e6;
}
.onSchool-Footer
  .Footer-Rigt-Content
  .Footer-Subscribe-Input
  .input-Focus:focus-visible {
  outline: none;
  border: 2px solid #7672e6;
  box-shadow: 0 0 0 0.25rem rgb(118 114 230/ 25%);
}
.onSchool-Footer .Footer-Bottom .cr-border {
  border-top: 1px solid rgb(235, 230, 230);
}

@media screen and (max-width: 1440px) {
  .onSchool-WhyUs .benjamin-side-img {
    right: 5%;
  }
  .onSchool-Courses {
    height: 100vh;
    min-height: 850px;
  }
  .onSchool-Courses .Courses-slider .swiper {
    height: 625px;
  }
}
@media screen and (max-width: 1200px) {
  .onSchool-Header .Nav-toggle-hidden {
    display: none;
  }
  .onSchool-Header .Contact-btn {
    display: none;
  }
  .onSchool-Header .Navbar-offCanvas-btn {
    display: grid;
  }
  .onSchool-Courses {
    min-height: 884px;
  }

  .onSchool-Courses .Courses-slider .swiper {
    width: 65%;
    height: 690px;
  }
  .onSchool-Courses .Courses-slider .swiper .swiper-button-prev {
    left: 25%;
  }
  .onSchool-Courses .Courses-slider .swiper .swiper-button-next {
    right: 25%;
  }
  .onSchool-WhyUs .Middle-Section .Card {
    border-style: none;
    width: 45%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 80px;
  }
  .onSchool-Programs .max-width {
    max-width: 75%;
  }
  .onSchool-WhyUs .mw-40 {
    max-width: 50%;
  }
  .onSchool-Message .max-width {
    width: 60%;
  }
  .onSchool-Footer .Footer-Rigt-Content .Footer-Subscribe-Input > input {
    width: 85%;
  }
}

@media screen and (max-width: 991px) {
  .onSchool-Courses .Courses-slider .swiper {
    width: 50%;
  }
  .onSchool-Courses .Courses-slider .swiper .swiper-button-prev {
    left: 20%;
  }
  .onSchool-Courses .Courses-slider .swiper .swiper-button-next {
    right: 20%;
  }
}
@media screen and (max-width: 767px) {
  .OnSchool-Home.Home-bg .Home-Content {
    display: block;
    text-align: center;
    width: 75%;
    margin: auto;
    margin-bottom: 50px;
  }
  .OnSchool-Home .Home-SignUp-Form form {
    width: 100%;
    text-align: center;
  }
  .OnSchool-Home .Home-SignUp-Form .input-Focus {
    text-align: center;
  }
  .onSchool-Courses .Courses-slider .swiper {
    width: 70%;
  }
  .onSchool-Courses .Courses-slider .swiper .image-size {
    height: 250px;
  }
  .onSchool-Courses .Courses-slider .swiper .swiper-button-prev {
    left: 20%;
  }
  .onSchool-Courses .Courses-slider .swiper .swiper-button-next {
    right: 20%;
  }
  /* .onSchool-Courses
    .Courses-slider
    .swiper
    .courses-card-body
    .cousrses-card-discount {
    top: 47%;
  } */
  .onSchool-Programs .Middle-Section .Programs-CardContent-Top-alignment {
    text-align: center;
  }
  .onSchool-Programs
    .Programs-CardContent-Bottom-Section
    .Programs-CardContent-Bottom {
    flex-direction: column;
  }
  .onSchool-Teachers .max-width {
    max-width: 100%;
  }
  .onSchool-WhyUs .mw-40 {
    max-width: 70%;
  }
  .onSchool-Message .first-Name {
    margin-bottom: 25px;
  }
  .onSchool-Message .Message-Content {
    text-align: center;
  }

  .onSchool-Message .Message-Form::-webkit-input-placeholder {
    /* Edge */

    text-align: center;
  }

  .onSchool-Message .Message-Form:-ms-input-placeholder {
    /* Internet Explorer */

    text-align: center;
  }

  .onSchool-Message .Message-Form::placeholder {
    text-align: center;
  }
  .onSchool-Message .max-width {
    width: 100%;
  }
  .onSchool-Message .Message-Form .btn {
    width: 200px;
  }
  .onSchool-WhyUs .Middle-Section .Card {
    width: 60%;
  }

  .onSchool-Footer .max-width {
    max-width: 100%;
  }
  .onSchool-Footer .Footer-Rigt-Content .Footer-Subscribe-Input > input {
    width: 85%;
  }
  .onSchool-Footer
    .Footer-Rigt-Content
    .Footer-Subscribe-Input
    .subscribe-button {
    width: 20%;
  }
  .onSchool-Footer
    .Footer-Rigt-Content
    .Footer-Subscribe-Input
    .subscribe-button {
    width: 70%;
  }
}
@media screen and (max-width: 575px) {
  .OnSchool-Home.Home-bg .Home-Content {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
  }
  .OnSchool-Home .Home-SignUp-Form form {
    width: 90%;
    margin: auto;
  }
  .OnSchool-Home .Home-admission {
    width: 40%;
  }
  .onSchool-Courses {
    min-height: 750px;
  }
  /* .onSchool-Courses .Courses-slider .swiper .swiper-slide .card .Card-Footer{

  } */
  .onSchool-WhyUs .alignment {
    flex-direction: initial;
  }

  .onSchool-Message .text-center {
    text-align: justify;
  }
  .onSchool-Courses {
    height: 100%;
    min-height: 750px;
  }
  .onSchool-Courses .Heading {
    height: 130px;
  }

  .onSchool-Courses .Courses-slider {
    position: relative;
    top: 0;
  }
  .onSchool-Courses .Courses-slider .swiper {
    width: 80%;
  }
  .Footer-Center-Content.max-width {
    max-width: 0;
    margin: 0;
  }

  .onSchool-WhyUs .Middle-Section .Card {
    height: auto;
  }
  /* .onSchool-Courses
    .Courses-slider
    .swiper
    .courses-card-body
    .cousrses-card-discount {
    top: 46%;
  } */
  .onSchool-WhyUs .text-align {
    text-align: center;
  }
  .onSchool-Message .Message-Content {
    text-align: center;
    max-width: 100%;
    margin: auto;
  }

  .onSchool-Message .max-width {
    width: 80%;
  }
  .onSchool-WhyUs {
    height: 100%;
  }
  .onSchool-WhyUs .Middle-Section .Card {
    width: 70%;
  }
  .onSchool-Footer
    .Footer-Rigt-Content
    .Footer-Subscribe-Input
    .subscribe-button {
    width: 45%;
  }
}
@media screen and (max-width: 375px) {
  .OnSchool-Home .Home-admission {
    width: 100px;
  }
  .onSchool-Courses {
    min-height: 800px;
  }
  .onSchool-Message .Message-Form .btn {
    width: auto;
  }
}
@media screen and (max-width: 424px) and (min-width: 320px) {
  .OnSchool-Home {
    height: 100vh;
    min-height: 800px;
  }
  .onSchool-Courses {
    min-height: 700px;
  }
  .onSchool-Courses .Heading {
    height: 100px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .onSchool-Courses .Courses-slider .swiper {
    width: 85%;
    height: 650px;
  }
  .onSchool-Courses .Courses-slider .swiper .swiper-button-prev {
    left: 15%;
  }
  .onSchool-Courses .Courses-slider .swiper .swiper-button-next {
    right: 15%;
  }
  /* .onSchool-Courses
    .Courses-slider
    .swiper
    .courses-card-body
    .cousrses-card-discount {
    top: 44%;
  } */
  .onSchool-WhyUs {
    min-height: 1000px;
  }
  .onSchool-WhyUs .alignment {
    flex-direction: column;
  }

  .onSchool-WhyUs .Middle-Section .Card {
    width: 80%;
  }
  .onSchool-Footer
    .Footer-Rigt-Content
    .Footer-Subscribe-Input
    .subscribe-button {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .OnSchool-Home {
    min-height: 950px;
  }
  .onSchool-Footer .Footer-Rigt-Content .Footer-Subscribe-Input > input {
    width: 85%;
  }
}
@media screen and (min-width: 768px) {
  .OnSchool-Home {
    min-height: 900px;
  }
  .onSchool-Message .Message-Form .btn {
    display: block;
  }
}
