.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.onSchool-Header .Nav-height {
  height: 100px;
}
.onSchool-Header .Navbar-offCanvas-btn {
  background-color: white;
  border-radius: 5px;
  border-style: none;
}
.onSchool-Header .Navbar-offCanvas-btn:hover {
  border: 5px solid white;
}
.onSchool-Header .Contact-btn {
  border-radius: 25px;
  background-color: #7672e6;
  border-style: none;
  color: white;
  width: 120px;
  height: 40px;
}
.onSchool-Header .Contact-btn:hover {
  background-color: white;
  color: #7672e6;
  border: 2px solid #7672e6;
}
.OnSchool-Home {
  margin-top: -100px;
}
.OnSchool-Home > .Home-bg {
  /* background-image: url('./assets/hero-1.jpg'); */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./assets/hero-1.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.color-Purple {
  color: #7672e6;
}
.color-BgPurple {
  background-color: #7672e6;
}
.OnSchool-Home .Home-admission {
  color: white;
  background-color: #7672e6;
  border-style: none;
  border-radius: 25px;
  height: 50px;
  width: 200px;
}
.OnSchool-Home .Home-admission:hover {
  background-color: white;
  color: #7672e6;
  border: 2px solid #7672e6;
}
.OnSchool-Home .Home-SignUp-Form {
  background-color: white;
  border-radius: 5px;
  width: 60%;
  padding: 50px 30px;
  height: 50%;
}
.OnSchool-Home .Home-SignUp-Form .input-Focus:focus {
  border-color: #7672e6;
  box-shadow: 0 0 0 0.25rem rgb(118 114 230/ 25%);
}

.OnSchool-Home .Home-SignUp-Form .btn {
  color: white;
  background-color: #7672e6;
  border-style: none;
  border-radius: 25px;
  height: 50px;
  width: 100px;
}
.OnSchool-Home .Home-SignUp-Form .btn:hover {
  background-color: white;
  color: #7672e6;
  border: 2px solid #7672e6;
}
.onSchool-Courses {
  height: 100vh;
}
.onSchool-Courses .btn {
  color: white;
  background-color: #7672e6;
  border-style: none;
  border-radius: 25px;
  height: 50px;
  width: 100px;
}
.onSchool-Courses .btn:hover {
  border: 2px solid #7672e6;
  color: #7672e6;
}

.onSchool-Courses .Courses-bg {
  background-color: #7672e6;
  height: 400px;
  z-index: -1;
}
.onSchool-Programs .max-width {
  max-width: 50%;
  margin: 0 auto;
}
.onSchool-Programs .icon-roundend {
  border: none;
  border-radius: 30px;
  display: inline-flex;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
}

.onSchool-Teachers .img-hack {
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: -80px;
  height: 160px;
  width: 160px;
  object-fit: cover;
}
.onSchool-Teachers .card-padding {
  padding-top: 80px;
}

.onSchool-Teachers .Teachers-bg-img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./assets/hero-1.jpg');
  background-size: cover;
  background-repeat: round;
  background-position: center;
  background-position-y: bottom;
  width: 100%;
  height: auto;
}
.onSchool-Teachers .max-width {
  max-width: 50%;
  margin: 0 auto;
}

.onSchool-Message {
  background-color: #f8f9fa;
}
.onSchool-Message .Message-Form .input-Focus:focus {
  border-color: #7672e6;
  box-shadow: 0 0 0 0.25rem rgb(118 114 230/ 25%);
}
.onSchool-Message .Message-Form .btn {
  color: white;
  background-color: #7672e6;
  border-style: none;
  border-radius: 25px;
  height: 50px;
  width: 250px;
}
.onSchool-Message .Message-Form .btn:hover {
  background-color: white;
  border: 2px solid #7672e6;
  color: #7672e6;
}

.onSchool-WhyUs .benjamin-side-img {
  bottom: 0;
  width: 700px;
}
.onSchool-WhyUs .icon-roundend {
  border: none;
  border-radius: 30px;
  display: inline-flex;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
}
.onSchool-Footer .color-BgPurple {
  background-color: #7672e6;
}
.onSchool-Footer .max-width {
  max-width: 50%;
  margin: 0 auto;
}
.onSchool-Footer .Footer-Rigt-Content .Footer-Subscribe-Input > input {
  border: 2px solid #7672e6;
}
.onSchool-Footer
  .Footer-Rigt-Content
  .Footer-Subscribe-Input
  .input-Focus:focus-visible {
  outline: none;
  border: 5px solid #7672e6;
  box-shadow: 0 0 0 0.25rem rgb(118 114 230/ 25%);
}

.onSchool-Footer .Footer-Bottom .cr-border {
  border-top: 1px solid rgb(235, 230, 230);
}
/* }
@media screen and (max-width: 1024px) {
  .onSchool-Header .Navbar-offCanvas-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .onSchool-Header .Nav-toggle-hidden {
    display: none;
  }
  .onSchool-Header .Contact-btn {
    display: none;
  }
  .OnSchool-Home .Home-Content {
    display: none;
  }
  .onSchool-WhyUs .Card {
    display: flex;
    justify-content: center;
  }
  .onSchool-WhyUs .benjamin-side-img {
    display: none;
  }
}
*/
@media screen and (min-width: 800px) {
  .onSchool-Header .Navbar-offCanvas-btn {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .onSchool-Header .Navbar-offCanvas-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .onSchool-Header .Nav-toggle-hidden {
    display: none;
  }
  .onSchool-Header .Contact-btn {
    display: none;
  }
  .OnSchool-Home .Home-Content {
    display: none;
  }
  .OnSchool-Home .Home-SignUp-Form {
    width: 80%;
  }
  .onSchool-Courses .Courses-bg {
    height: 100%;
  }
  .onSchool-Courses .btn {
    color: #7672e6;
    background-color: white;
  }
  .onSchool-Courses .btn {
    color: #7672e6;
    background-color: white;
  }
  .onSchool-Courses .btn:hover {
    border: 2px solid white;
    color: white;
  }
  .onSchool-Courses .Cards .Courses-Cards .media-width {
    width: 300px !important;
  }
  .onSchool-Programs .Programs-Top-Content {
    max-width: 100%;
  }
  .onSchool-Programs .Middle-Section .media-remove-margin {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .onSchool-WhyUs .Card {
    display: flex;
    justify-content: center;
  }
  .onSchool-Teachers .max-width {
    max-width: 100%;
  }
  .onSchool-WhyUs-Content {
    display: contents;
  }
  .onSchool-WhyUs .benjamin-side-img {
    display: none;
  }
  .onSchool-Message .Main .onSchool-Message-Form .Message-heading {
    padding-bottom: 15px;
  }
  .onSchool-Message .Main .onSchool-Message-Form .Message-para {
    display: none;
  }
  .first-Name {
    margin-bottom: 1.5rem;
  }
  .onSchool-Footer .Footer-Center-Content {
    display: none;
  }
  .onSchool-Footer .Footer-Bottom .max-width {
    max-width: 100%;
  }
}
